{
	"extends": ["react-app", "prettier"],
	"plugins": ["react", "prettier"],
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"arrowParens": "avoid",
				"semi": true,
				"trailingComma": "none",
				"endOfLine": "lf",
				"tabWidth": 4,
				"useTabs": false,
				"singleQuote": false,
				"printWidth": 120,
				"jsxSingleQuote": false
			}
		]
	}
}